<html>
	<head>
		<title>Ergo</title>
		<link rel="shortcut icon" type="image/ico" href="../images/favicon.ico"  />
		<link rel="apple-touch-icon" type="image/png" href="../images/favicon.png"  />
		<link rel="shortcut icon" sizes="192x192" type="image/png"  href="../images/favicon.png" />
		<link rel="stylesheet" href="../css/index.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Welcome to Ergo, a portal that encourages scientific discussion for everyone, in attempts to bring together a scientific community.">
	</head>
	<body>
		<header>
			<section class="info-bar">
			<div class="logo">
				<img src="../images/logo.png" alt="ergologo" height="60 px">
			</div>
			<div class="navbar">
			<input type="checkbox" id="nav-toggle" class="nav-toggle">
			<nav>
				<ul>
					<li><a href="index.html" >home</a></li>
					<li><a href="about.html">about</a></li>
					<li><a href="trending.html">trending</a></li>
					<li><a href="profile.html">profile</a></li>
				</ul>
			</nav>
			<label for="nav-toggle" class="nav-toggle-label">
			<span></span>
			</label>
			</div>
		</header>

		<div class="searchbar">
			<input type="text" id="paperInput" onkeyup="searchPaper()" placeholder="search...">
		</div>
		
		<p></p>

		<div class="recommendations" onload="getRecommendations()">
			<h1>Recommendations</h1>
			<div id="recommendationsContainer">

			</div>
		</div>

		<p></p>

		<div class="browse" onload="getBrowse()">
			<h1>Browse by Tags</h1>
			<div id="browseContainer">

			</div>
		</div>

		<footer></footer>
	</body>
</html>
